{% extends 'base.html' %}

{% block content %}

<style>
    body {
        background-color: #f8f9fa;
    }

    .container {
        margin-top: 50px;
    }

    .card {
        border: none;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    .card-header {
        background-color: #007bff;
        color: #fff;
    }

    .card-body {
        padding: 20px;
    }

    .form-control {
        border-radius: 0;
    }

    .btn-primary {
        background-color: #007bff;
        border: none;
        border-radius: 0;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }
</style>

<div class="container">
    <div class="row">
         <div class="col-md-6 offset-md-3">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Send SMS</h3>
                </div>
                 <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.errors }}
                        {{ form.contact.errors }}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Envoyer le message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}