{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
         <div class="col-md-6 offset-md-3">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Send SMS</h3>
                </div>
                 <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Envoyer le messag</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}