{% extends 'base.html' %}
{% load humanize %}

{% block content %}

<div class="row">
  <div class="col-8">
    <form action="" method="POST">
      {% csrf_token %}

      {% include 'corecode/form_snippet.html' %}

      <input type="submit" class="btn btn-primary" value="Ajouter le paiement">

    </form>
  </div>

  <div class="col-4">
    <div class="alert alert-info" role="alert">
      <h3>Facture <!--INVOICE --> </h3>
      <p>{{invoice | upper}}</p>
      <hr>
      <ul>

       <li>Session : {{ invoice.session }}</li>
        <li>Terme : {{ invoice.term }}</li>
        <li>Classe : {{ invoice.class_for }}</li>
        <li>Total à payer : {{ invoice.total_amount_payable | intcomma }}</li>
        <li>Total payé : {{ invoice.total_amount_paid | intcomma }}</li>
        <li><strong>Solde : {{ invoice.balance | intcomma }}</strong></li>

      </ul>
    </div>
  </div>
</div>



{% endblock content %}
